@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import "../css/components/font-icons.css";
@import "/scss/main.css";
@import "../css/components.css";
:root {
  --background: #121517;
  --background-gradient: linear-gradient(263.46deg, #237249 1.41%, #35c66b 85.05%);
}

.icon-menu {
  position: fixed;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 2.625rem;
    width: 2.625rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.5s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-image: var(--background-gradient);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(55% - 1px);
    transform: scale(1) translate(0px, -55%);
  }
}

.menu-open .icon-menu::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
  background-image: var(--background-gradient);
}

.menu-open .icon-menu::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
  background-image: var(--background-gradient);
}

.menu-open span {
  left: 50%;
  width: 0;
  background-image: var(--background-gradient);
}

@media (max-width: 767.98px) {
  .menu {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    padding: 100px 15px 50px 15px;
    transition: left 0.5s ease 0s;
    overflow: auto;
    z-index: 4;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    height: 3.75rem;
    background-color: var(--background);
    transition: left 0.5s ease 0s;
    z-index: 4;
  }
}

.menu-open .menu__body {
  left: 0;
}
.menu-open .menu__body::before {
  left: 0;
}

.menu-open body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  max-inline-size: 82.75rem;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

:root {
  --font-family: "Montserrat", sans-serif;
  --primary: #d9d9d9;
  --white: #fff;
  --background: #121517;
  --background-gradient: linear-gradient(263.46deg, #237249 1.41%, #35c66b 85.05%);
}

body {
  font-family: var(--font-family);
  color: var(--primary);
  background-color: var(--background);
  font-size: calc(16px + 4 * (100vw - 320px) / 1192);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--background);
  transition: all 0.5s;
}
.header__container {
  display: flex;
  align-items: center;
  gap: calc(20px + 75 * (100vw - 320px) / 1192);
  min-height: calc(80px + 55 * (100vw - 320px) / 1192);
  padding-block: calc(34px + 14 * (100vw - 320px) / 1192);
  padding-inline: calc(24px + 14 * (100vw - 320px) / 1192);
}
@media (max-width: 47.9988rem) {
  .header__container {
    justify-content: space-between;
  }
}
.header__logo {
  font-weight: 800;
  font-size: calc(22px + 15 * (100vw - 320px) / 1192);
  line-height: 1.09;
  letter-spacing: -0.03em;
  background: var(--background-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 10;
  transition: filter 0.4s ease;
}
.header__logo:hover {
  filter: drop-shadow(0 0 0.75rem rgba(53, 198, 107, 0.6));
}
.menu-header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: calc(40px + 55 * (100vw - 320px) / 1192);
}
@media (max-width: 47.9988rem) {
  .menu-header__list {
    flex-direction: column;
    align-items: end;
  }
}
.menu-header__item {
  font-size: 1.1875rem;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.menu-header__item a {
  transition: color 0.5s ease;
  color: var(--primary);
}
.menu-header__item a:hover {
  color: #35c66b;
}
@media (max-width: 47.9988rem) {
  .menu-header__item {
    font-size: 24px;
  }
}