@import "/scss/main.css";

:root {
	--background: #121517;
	--background-gradient: linear-gradient(263.46deg, #237249 1.41%, #35c66b 85.05%);
}

// burger-------------------------------
.icon-menu {
	position: fixed;
	
	@media (max-width: 767.98px) {
		display: block;
		position: relative;
		flex: 0 0 2.625rem;
		width: 2.625rem;
		height: 1.125rem;
		cursor: pointer;
		z-index: 10;

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.5s ease 0s;
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			// ✅ Заливаем полоски градиентом
			background-image: var(--background-gradient);
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(55% - 1px);
			transform: scale(1) translate(0px, -55%);
		}
	}
}

.menu-open .icon-menu::before {
	transform: rotate(-45deg);
	top: calc(50% - 1px);
	background-image: var(--background-gradient);
}

.menu-open .icon-menu::after {
	transform: rotate(45deg);
	bottom: calc(50% - 1px);
	background-image: var(--background-gradient);
}

.menu-open span {
	left: 50%;
	width: 0;
	background-image: var(--background-gradient);
}

.menu {
	// display: none;
	@media (max-width: 767.98px) {
		flex: 0 0 auto;
		display: flex;
		justify-content: flex-end;

		&__body {
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background-color: var(--background);
			padding: 100px 15px 50px 15px;
			transition: left 0.5s ease 0s;
			overflow: auto;
			z-index: 4;

			&::before {
				content: "";
				position: fixed;
				width: 100%;
				top: 0;
				left: -100%;
				height: 3.75rem;
				background-color: var(--background);
				transition: left 0.5s ease 0s;
				z-index: 4;
			}
		}
	}
}

.menu-open .menu__body {
	left: 0;
	&::before {
		left: 0;
	}
}

.menu-open body {
	overflow: hidden;
}