// Подключение шрифтов только в самом верху
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@import "adaptive-value"; // Импорт локального scss (без расширения)
@import "font-icons"; // Импорт локального scss (без расширения)
@import "burgers"; // Импорт локального scss
@import "components";

$maxWidth: 1512;
$maxWidthContainer: 1324;

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip; // работает с position: sticky;
}
// ==== Чтоб прибить футер к низу разрешаем main расширяться

.wrapper > main {
	flex-grow: 1;
}

// ===============Ограничивающий контейнер через селктор класса============
[class*="__container"] {
	max-inline-size: 82.75rem;
	margin-inline: auto;
	padding-inline: 0.9375rem;
}
:root {
	--font-family: "Montserrat", sans-serif;
	--primary: #d9d9d9;
	--white: #fff;
	--background: #121517;
	--background-gradient: linear-gradient(263.46deg, #237249 1.41%, #35c66b 85.05%);
}

body {
	font-family: var(--font-family);
	color: var(--primary);
	background-color: var(--background);
	@include adaptive-value("font-size", 20, 16, 0);
}

.header {
	// .header__container
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: var(--background);
	transition: all 0.5s;
	&__container {
		display: flex;
		align-items: center;

		@include adaptive-value("gap", 95, 20, 0);
		@include adaptive-value("min-height", 135, 80, 0);
		@include adaptive-value("padding-block", 48, 34, 0);
		@include adaptive-value("padding-inline", 38, 24, 0);
		@media (max-width: 47.9988rem) {
			justify-content: space-between;
		}
	}

	// .header__logo

	&__logo {
		font-weight: 800;
		@include adaptive-value("font-size", 37, 22, 0);
		line-height: 1.09;
		letter-spacing: -0.03em;
		background: var(--background-gradient);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		z-index: 10;
		transition: filter 0.4s ease;
		&:hover {
			filter: drop-shadow(0 0 0.75rem rgba(53, 198, 107, 0.6));
		}
	}

	// .header__menu

	&__menu {
	}

	// .header__actions

	&__actions {
	}
}

.menu-header {
	// .menu-header__body

	&__body {
	}

	// .menu-header__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		@include adaptive-value("gap", 95, 40, 0);
		@media (max-width: 47.9988rem) {
			flex-direction: column;
			align-items: end;
		}
	}

	// .menu-header__item

	&__item {
		font-size: 1.1875rem;
		text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

		a {
			transition: color 0.5s ease;
			color: var(--primary); // Ваш обычный цвет

			&:hover {
				color: #35c66b; // Просто зеленый цвет из градиента
			}
		}
		@media (max-width: 47.9988rem) {
			font-size: 24px;
		}
	}
}

// ============ main ===========

.main {
	@include adaptive-value("padding-top", 169, 100, 0);
	@include adaptive-value("padding-bottom", 111, 40, 0);

	position: relative; // Важно!
	overflow: hidden;
	// .main__container

	&__container {
		 position: relative;
		 
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		@media (max-width: 47.9988rem) {
			flex-direction: column;
		}
	}

	// .main__content

	&__content {
		
	}
	&__header,
	&__image {
		position: relative;
		z-index: 1;
	}
	// .main__header

	&__header {
	
	}

	// .main__image

	&__image {
		img {
			max-width: 100%;
		}
	}
	&__bg-decoration {
		position: absolute;
		bottom: -35%;
		right: -11%;
		width: 100%;
		height: 100%;
		// width: 53.5%; // Подгоните под макет (например, 50% или 800px)
		// height: 68.9%; // Подгоните под макет
		background: url("../images/main/main-bg.svg") bottom right no-repeat;
		background-size: contain;
		z-index: 0; // Фон на заднем плане
		pointer-events: none; // Чтобы нельзя было кликнуть по фоновой картинке

		// На мобильных может мешать, отключаем
		@media (max-width: 47.9988rem) {
			display: none;
		}
	}
}
.header-main {
		display: flex;
		flex-direction: column;
		@include adaptive-value("gap", 54, 20, 0);
	// .header-main__block

	&__block {
	}

	// .header-main__buttons

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 1.25rem;
	}

	// .header-main__button

	&__button {
		text-align: center;
	}

	// .header-main__stats

	&__stats {
	}
}
.block {
	// .block__header

	&__header {
	}

	// .block__header-title

	&__header-title {
	}

	// .block__header-text

	&__header-text {
	}
}

.stats {
	// .stats__item

	&__item {
	}
}
.item-stats {
	// .item-stats__value

	&__value {
	}

	// .item-stats__text

	&__text {
	}
}
.image-main {
	img {
		max-width: 100%;
	}
}
